* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kumbh Regular";
  src: url(./fonts/KumbhSans-Regular.ttf);
}

@font-face {
  font-family: "Kumbh Bold";
  src: url(./fonts/KumbhSans-Bold.ttf);
}

html {
  background-color: hsl(185, 75%, 39%);
  font-size: 62.5%;
  --boldText: calc(0.4rem + 1vw);
  --regularText: calc(0.75rem + 1vw);
  --regularTextColor: hsl(0, 0%, 53%);
}

body {
  background: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-position: top -57rem left -22rem, bottom -60rem right -22rem;
  background-repeat: no-repeat;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10.8rem;
  padding-bottom: 10.8rem;
}

.profile-card {
  width: 350px;
  height: 375px;
  margin: 0;
  padding: 0;
}

.topcard {
  width: 350px;
  height: 284px;
  background-image: url(./images/bg-pattern-card.svg);
  background-size: 350px 140px;
  border-radius: 15px 15px 0px 0px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.profile-image {
  position: absolute;
  z-index: 1;
}

.profile-image img {
  border: solid 5px white;
  border-radius: 50%;
}

.victorTitle {
  position: absolute;
  z-index: 1;
  transform: translate(0px, 96px);
}

.victorTitle h2 {
  font-size: var(--boldText);
  font-family: "Kumbh Bold";
  color: hsl(229, 23%, 23%);
  font-weight: 500;
}

.victorTitle h2::after {
  content: " 26";
  color: var(--regularTextColor);
  font-family: "Kumbh Regular";
  font-weight: 590;
}

.victorTitle span {
  display: flex;
  justify-content: center;
  font-family: "Kumbh Regular";
  font-size: 1.5rem;
  color: var(--regularTextColor);
  margin-top: 1rem;
}

.bottomcard {
  background-color: white;
  position: absolute;
  width: 350px;
  height: 240px;
  z-index: 0;
  transform: translateY(110px);
  border-radius: 0px 0px 15px 15px;
}

.bottomcard hr {
  margin-top: 15rem;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.stat {
  display: flex;
  justify-content: space-evenly;
}

.stat span {
  padding-top: 2rem;
  text-align: center;
}

.stat span::first-line {
  font-family: "Kumbh Bold";
  font-size: var(--boldText);
  color: hsl(229, 23%, 23%);
  text-align: center;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: normal;
}

.stat span {
  font-family: "Kumbh Regular";
  font-size: 1rem;
  color: var(--regularTextColor);
  letter-spacing: 2px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: rgba(0, 255, 255, 0.548);
}

@media screen and (max-width: 950px) {
  body {
    background-position: top -57rem left -49rem, bottom -60rem right -50rem;
  }

  .victorTitle h2 {
    font-size: 1.8rem;
  }
  .stat span::first-line {
    font-size: 1.8rem;
  }
}
